<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="god">
	<div class="color">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div>
			<img src="musicbar.jpg" id="guitar">
		</div>
  <a class="navbar-brand" href="#">&nbsp SHOP BEST!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="controll">
      <li class="nav-item mx-auto ">
        <button type="submit" class="btn btn-primary" id="Home"><a href="/index" style="color: white; text-decoration: none;background: transparent !important;background-repeat: no-repeat !important;border:none !important;cursor: pointer;">Home</a></button>
      </li>
      <li class="nav-item mx-auto ">
        <button type="button" class="btn btn-primary" id="btn2">Login</button>
      </li>
      
      <li class="nav-item mx-auto  ">
       <button type="button" class="btn btn-primary btn-block" id="btn1">Register</button>
      </li>
    </ul>
    
  </div>

</nav>

</div>
<br>
<div>
  {{#if message}}
    <center><h4 class="alert alert-danger mt-4"><center>{{message}}</center></h4></center>
  {{/if}}
</div>
<div>
  {{#if message}}
    <center><h4 class="alert alert-success mt-4"><center>{{mess}}</center></h4></center>
  {{/if}}
</div>

<br>
	<div id="container1">
	
	</div>
<br>
	<div id="container2">
			<br><br><br>
	<div class="extra">
	<h1>Guitar!</h1><hr style="background-color:red;height: 2px;width: 20%;float:left"><br><br>

	<h4>Music expresses that which cannot be <br>put into words and that which <br>cannot remain silent.</h4>
	<div style="float:right;color:white;border:2px solid red;border-radius:20px">
		<h1>LOGIN,To buy your own guitar<br>
			or make Your guitar sound <br>better...</h1>
	</div>
	</div>
	</div>
	
	

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="script.js"></script>
</div>
</body>
</html>
